DATABASE_URL=""
SESSION_ID="IK~vcBQ2AaJ#pwcizqnqgzxY9Fa7Zg1GM271lotaNdiqMu3x9ToeBbg"
PREFIX=.
MODE="public"
STATUSVIEW="true"
ANTI_LINK="true"
REJECTSCALLS="false"
REPLY_STATUS="false"
antidelete="true"
BOT_NAME="JAWAD-MD"
AutoReaction="false"
OWNER_NUMBER="255759112010;JawadTechX"
DL_MSG="Downloaded Successfully"
STATUS_MSG="Status Seen By JAWAD-MD"

